__pycache__/
*.py[co]
/build
/dist
/wagtail_localize_smartling.egg-info
.coverage*
!/.coveragerc
.env
.pytest_cache/
htmlcov/
.tox/
.venv/
venv/
.vscode/
/site/
*.db
node_modules/
test-static/
test-media/
