# Directories in the project root
/.tox/
/.venv/
/.vscode/
/build/
/dist/
/htmlcov/
/site/
/venv/


# Files in the project root
/.coverage*
!/.coveragerc

# Files anywhere
*.db
*.py[co]
.env

# Directories anywhere
.ruff_cache/
.pytest_cache/
__pycache__/
test-media/
test-static/
