__pycache__/
*.py[co]
/build
/dist
/wagtail_localize_smartling.egg-info
/.coverage*
!/.coveragerc
/.pytest_cache/
/htmlcov/
/.tox/
/.venv/
/venv/
/.vscode/
/site/
/test_wagtail_localize_smartling.db
/node_modules/
/test-static/
/test-media/
